<div class="d-flex">
  <div class="bg-light rounded-3 shadow-sm border p-1" [ngClass]="{'pe-none': isDisabled}">
    <ng-container *ngFor="let item of items; let isFirst = first;">
      <button ridButton [btnType]="currentValue.id === item.id ? 'primary' : 'secondary'" [isCompact]="true"
        [ngClass]="{'ms-1': !isFirst, 'opacity-50': isDisabled}" (click)="switchToItem(item)">
        <ng-container *ngIf="item.iconUrl">
          <rid-svg [ngClass]="{'pe-1': item.label}" [url]="item.iconUrl" [width]="13" [height]="13">
          </rid-svg>
        </ng-container>
        <span>
          {{item.label}}
        </span>
      </button>
    </ng-container>
  </div>
</div>
