.loader {
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  display: block;
}

.loader-dark::before {
  border-color: #fff !important;
}

.loader-xs::before {
  border-width: 3px !important;
}

.loader-sm::before {
  border-width: 5px !important;
}

.loader-md::before {
  border-width: 5px !important;
}

.loader-lg::before {
  border-width: 7px !important;
}

.loader-xl::before {
  border-width: 9px !important;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}