/* fuerzo porcentaje del width/height  */
@for $i from 0 through 100 {
  .fw-#{$i} {
    width: #{$i + '%'} !important;
  }

  .fh-#{$i} {
    height: #{$i + '%'} !important;
  }

  .fw-max-#{$i} {
    max-width: #{$i + '%'} !important;
  }

  .fh-max-#{$i} {
    max-height: #{$i + '%'} !important;
  }

  .fw-min-#{$i} {
    min-width: #{$i + '%'} !important;
  }

  .fh-min-#{$i} {
    min-height: #{$i + '%'} !important;
  }
}

/* tamaños para los textos */
@each $num,
$size in $text-sizes {
  .text-size-#{$num} {
    font-size: #{$size} !important;
  }
}