@import '~@angular/cdk/overlay-prebuilt.css';

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(./../assets/Lato-Regular.ttf) format('woff2');
}

* {
  font-family: 'Lato';
}

/** Fuerza el borde del boton secundario */
.btn-light:not(:hover) {
  border: 1px solid var(--bs-btn-hover-bg);
}

/* Elimina las arrow de los input number */
.rid-hide-arrow {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;

  &::-webkit-outer-spin-button {
    @extend .rid-hide-arrow;
  }

  &::-webkit-inner-spin-button {
    @extend .rid-hide-arrow;
  }

  &[type='number'] {
    @extend .rid-hide-arrow;
  }

}

.rid-overflow-y-scroll {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.rid-overflow-x-scroll {
  overflow-x: scroll !important;
  overflow-y: hidden !important;
}

/* Scrollbar */
// https://css-tricks.com/custom-scrollbars-in-webkit/
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.438rem;
  height: 0.438rem;
  background-color: transparent;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.313rem;
  box-shadow: inset 0 0 0.375rem #c4c4c4;
  background-color: #c4c4c4;
}

/* scrollbar invisible */
.rid-hide-scrollbar::-webkit-scrollbar,
.rid-hide-scrollbar::-webkit-scrollbar-track,
.rid-hide-scrollbar::-webkit-scrollbar-thumb,
.rid-hide-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.rid-cursor-pointer {
  cursor: pointer !important;
}

.rid-cursor-not-allowed {
  cursor: not-allowed !important;
}

.rid-cursor-default {
  cursor: default !important;
}

.rid-hide-focus {
  outline: none !important;
  box-shadow: none !important;
}

/* tooltip arrow sizes */
@each $type,
$size in $tooltip-sizes {

  /* tooltip arrow positions */
  .rid-tooltip-arrow-#{$type} {
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    &-left {
      @extend .rid-tooltip-arrow-#{$type};
      top: calc(50% - #{$size});
      left: -#{$size};
      border-right: #{$size} solid;
      border-top: #{$size} solid transparent;
      border-bottom: #{$size} solid transparent;
    }

    &-right {
      @extend .rid-tooltip-arrow-#{$type};
      top: calc(50% - #{$size});
      right: -#{$size};
      border-left: #{$size} solid;
      border-top: #{$size} solid transparent;
      border-bottom: #{$size} solid transparent;
    }

    &-bottom {
      @extend .rid-tooltip-arrow-#{$type};
      top: 100%;
      bottom: -#{$size};
      border-left: #{$size} solid transparent;
      border-right: #{$size} solid transparent;
      border-top: #{$size} solid;

      &-left {
        @extend .rid-tooltip-arrow-#{$type}-bottom;
        left: 5%;
      }

      &-center {
        @extend .rid-tooltip-arrow-#{$type}-bottom;
        left: calc(50% - #{$size});
      }

      &-right {
        @extend .rid-tooltip-arrow-#{$type}-bottom;
        right: 5%;
      }
    }

    &-top {
      @extend .rid-tooltip-arrow-#{$type};
      top: -#{$size};
      border-left: #{$size} solid transparent;
      border-right: #{$size} solid transparent;
      border-bottom: #{$size} solid;

      &-left {
        @extend .rid-tooltip-arrow-#{$type}-top;
        left: 5%;
      }

      &-center {
        @extend .rid-tooltip-arrow-#{$type}-top;
        left: calc(50% - #{$size});
      }

      &-right {
        @extend .rid-tooltip-arrow-#{$type}-top;
        right: 5%;
      }
    }
  }
}

/* arrow top styles */
.rid-tooltip-arrow-top {
  &-primary {
    border-bottom-color: var(--bs-primary);
  }

  &-secondary {
    border-bottom-color: var(--bs-secondary);
  }

  &-info {
    border-bottom-color: var(--bs-info);
  }

  &-warning {
    border-bottom-color: var(--bs-warning);
  }

  &-danger {
    border-bottom-color: var(--bs-danger);
  }

  &-success {
    border-bottom-color: var(--bs-success);
  }

  &-light {
    border-bottom-color: var(--bs-light);
  }

  &-dark {
    border-bottom-color: var(--bs-dark);
  }

  &-muted {
    border-bottom-color: var(--bs-muted);
  }
}

/* arrow right styles */
.rid-tooltip-arrow-right {
  &-primary {
    border-left-color: var(--bs-primary);
  }

  &-secondary {
    border-left-color: var(--bs-secondary);
  }

  &-info {
    border-left-color: var(--bs-info);
  }

  &-warning {
    border-left-color: var(--bs-warning);
  }

  &-danger {
    border-left-color: var(--bs-danger);
  }

  &-success {
    border-left-color: var(--bs-success);
  }

  &-light {
    border-left-color: var(--bs-light);
  }

  &-dark {
    border-left-color: var(--bs-dark);
  }

  &-muted {
    border-left-color: var(--bs-muted);
  }
}

/* arrow left styles */
.rid-tooltip-arrow-left {
  &-primary {
    border-right-color: var(--bs-primary);
  }

  &-secondary {
    border-right-color: var(--bs-secondary);
  }

  &-info {
    border-right-color: var(--bs-info);
  }

  &-warning {
    border-right-color: var(--bs-warning);
  }

  &-danger {
    border-right-color: var(--bs-danger);
  }

  &-success {
    border-right-color: var(--bs-success);
  }

  &-light {
    border-right-color: var(--bs-light);
  }

  &-dark {
    border-right-color: var(--bs-dark);
  }

  &-muted {
    border-right-color: var(--bs-muted);
  }
}

/* arrow bottom styles */
.rid-tooltip-arrow-bottom {
  &-primary {
    border-top-color: var(--bs-primary);
  }

  &-secondary {
    border-top-color: var(--bs-secondary);
  }

  &-info {
    border-top-color: var(--bs-info);
  }

  &-warning {
    border-top-color: var(--bs-warning);
  }

  &-danger {
    border-top-color: var(--bs-danger);
  }

  &-success {
    border-top-color: var(--bs-success);
  }

  &-light {
    border-top-color: var(--bs-light);
  }

  &-dark {
    border-top-color: var(--bs-dark);
  }

  &-muted {
    border-top-color: var(--bs-muted);
  }
}
