<div class="mb-4 border rounded-3">
  <p class="text-size-8" [ridTruncate]="text" [limit]="limit" [cancelTruncate]="cancelTruncate"
    [tooltipMaxWidth]="tooltipMaxWidth" [reverse]="reverse" [disableTooltip]="disableTooltip">
  </p>
</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
