<div class="w-100 d-flex align-items-center rid-cursor-pointer" (click)="!isCoping && doCopy()"
  [ridTooltip]="copyTooltip" [manualHandling]="true" [position]="'left-bottom'" [orientation]="'right'">
  <rid-svg [svgClass]="'me-1'" [url]=" isCopied ? 'assets/clipboard-check.svg' : 'assets/clipboard.svg'" [width]="15"
    [height]="15"></rid-svg>
  <ng-content></ng-content>
</div>


<ng-template #copyTooltip>
  <div class="bg-dark rounded-3 shadow-sm py-1 px-2 text-size-3">
    <p class="mb-0 text-light">
      ¡Copiado!
    </p>
  </div>
</ng-template>
