<div class="border-start ps-2">
  <!-- titulo -->
  <rid-label [text]="label"></rid-label>

  <!-- dropdown -->
  <rid-dropdown #dropdown (toggled)="onToggledDropdown($event)" [showChevron]="true" [maxWidth]="300" [minWidth]="300"
    [alignment]="'left'">
    <ng-template ridDropdownHeader>
      <div class="w-100 p-3 row m-0">
        <div class="col p-0 pe-2">
          <rid-input [description]="config.from?.description || ''" [label]="config.from?.label || ''">
            <input #ridInput type="date" [(ngModel)]="_from" [max]="_to || _maxDate" [min]="_minDate">
          </rid-input>
        </div>
        <div class="col p-0 ps-2">
          <rid-input [description]="config.to?.description || ''" [label]="config.to?.label || ''">
            <input #ridInput type="date" [(ngModel)]="_to" [min]="_from || _minDate" [max]="_maxDate">
          </rid-input>
        </div>
        <div class="col-12 d-flex justify-content-end" [ngClass]="{'pt-2': !description}">
          <button ridButton type="button" [btnType]="'secondary'" [isCompact]="true"
            (click)="dropdown.close(); onCancel();">
            Cancelar
          </button>
          <button ridButton type="button" class="ms-2" [isCompact]="true" (click)="dropdown.close(); onConfirm();">
            Aceptar
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template ridDropdownToggle>
      <p class="mb-0 lh-1 text-size-3" [style.paddingRight.rem]="'1.8'">
        <span *ngIf="currentValue">
          <span *ngIf="currentValue.from">{{currentValue.from | date: 'dd MMM, yyyy'}}</span>
          >
          <span *ngIf="currentValue.to">{{currentValue.to | date: 'dd MMM, yyyy'}}</span>
        </span>
        <span *ngIf="!currentValue">
          {{ placeHolder || '' }}
        </span>
      </p>
    </ng-template>
  </rid-dropdown>
</div>
