<div *ngIf="showModal" class="w-100 h-100 position-absolute" [style.top]="0" [style.bottom]="0" [style.left]="0"
  [style.right]="0">
  <!-- contenedor modal -->
  <div class="z-2 w-100 h-100 position-absolute d-flex pe-none align-items-center" [ngClass]="{
          'justify-content-center': config.type === 'modal',
          'justify-content-end': config.type === 'sidebar'
      }">
    <div class="shadow-sm position-relative pe-auto bg-white"
      [ngClass]="{ 'h-100 rounded-start-2': config.type === 'sidebar', 'fh-90 fh-max-90 rounded-3': config.type === 'modal' }"
      [style.width.px]="modalWidth" [style.max-width.px]="modalWidth">

      <!-- botones acciones -->
      <div *ngIf="config.actions?.length && config.type === 'modal'"
        class="w-100 h-100 position-absolute d-flex align-items-end pe-none" [style.bottom.px]="-15">
        <div class="w-100 d-flex justify-content-end pe-3">
          <button *ngFor="let item of config.actions; let isFirst = first;" class="pe-auto z-3"
            [ngClass]="{'ms-2': !isFirst}" ridButton [btnType]="item.type || 'primary'" (click)="item.action()">
            {{item.label}}
          </button>
        </div>
      </div>

      <!-- icono de cierre -->
      <div *ngIf="!config.hideCancel && !config.title && !config.titleIconUrl"
        class="w-100 fh-10 position-absolute d-flex justify-content-end align-items-center pe-3 pe-none pb-1"
        [style.minHeight.px]="50">
        <rid-svg class="rid-cursor-pointer pe-auto text-dark" (click)="close()" [url]="'assets/x.svg'" [height]="22"
          [width]="22"></rid-svg>
      </div>

      <!-- contenido principal -->
      <div class="w-100 h-100 bg-white rounded-3" [style.max-height.px]="modalMaxHeight">
        <!-- titulo -->
        <div *ngIf="config.title || config.titleIconUrl"
          class="fh-10 w-100 border-bottom text-size-6 text-dark fw-bold px-3 d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <rid-svg *ngIf="config.titleIconUrl" [url]="config.titleIconUrl" [width]="22" [height]="22">
            </rid-svg>
            <span *ngIf="config.title" class="text-dark" [ngClass]="{'ps-2': config.titleIconUrl}">
              {{ config.title }}
            </span>
          </div>
          <div class="d-flex align-items-center">
            <rid-svg class="rid-cursor-pointer pe-auto text-dark" (click)="close()" [url]="'assets/x.svg'" [height]="25"
              [width]="25">
            </rid-svg>
          </div>
        </div>
        <!-- template content -->
        <div class="p-3" [ngClass]="[config.title ? 'fh-90 fh-max-90' : 'h-100']">
          <div class="w-100 h-100 rid-overflow-y-scroll rid-hide-scrollbar">
            <ng-template [ngTemplateOutlet]="config.template" [ngTemplateOutletContext]="config.context"></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- background -->
  <div *ngIf="config.showBackground" (click)="config.closeOnBackDropClick && close()" class="w-100 h-100 position-absolute {{ 'bg-opacity-' + config.backgroundOpacity }}
      {{ 'bg-'+config.backgroundColor }} pe-auto z-1">
  </div>
</div>
