<app-component-tester [title]="'Componente alerts'"
  [description]="'Ejemplo de implementacion de componente \'alerts\''">


  <ng-template [appTesterPage]="'Por componente'"
    [description]="'Distintos casos del uso normal del commponente de alerta.'">
    <div class="mb-2">
      <rid-alert [listening]="false" [closable]="'none'" [title]="'Alerta estatica NO cerrable'">
      </rid-alert>
    </div>
    <div class="mb-2">
      <rid-alert [listening]="false" [type]="'info'" [closable]="'times'" [title]="'Alerta estatica cerrable por cruz'"
        [message]="'Ejemplo de alerta que se cierra al pulsar sobre el icono de la cruz.'" [showTime]="true">
      </rid-alert>
    </div>
    <div class="mb-2">
      <rid-alert [listening]="false" [type]="'warning'" [closable]="'click'"
        [title]="'Alerta estatica cerrable por click'"
        [message]="'Ejemplo de alerta que se cierra al pulsar sobre el componente.'">
      </rid-alert>
    </div>
    <div class="mb-2">
      <rid-alert [listening]="false" [type]="'success'" [showIcon]="false" [closable]="'none'"
        [title]="'Alerta estatica NO cerrable alternativa'"
        [message]="'Igual a la primera solo que sin mostrar icono y con hora.'" [showTime]="true">
      </rid-alert>
    </div>

  </ng-template>
  <ng-template [appTesterPage]="'Por suscripción'" [description]="'Mostrar alertas utilizando el servicio.'"
    [interactions]="alertSuscriptionsInteractions">
    <div class="border rounded-3 p-3">
      <rid-alert [title]="'Enviar algun evento para ver como se muestra el componente.'" [listening]="false"
        [type]="'info'">
      </rid-alert>
      <div class="mb-4 mt-2">
        <p class="mb-1 text-size-5">
          Alerta uno:
        </p>
        <rid-alert [listening]="impShowAlert2" [closable]="'click'"></rid-alert>
      </div>
      <div class="mb-4">
        <p class="mb-1 text-size-5">
          Alerta dos:
        </p>
        <rid-alert [listening]="impShowAlert2" [closable]="'times'"></rid-alert>
      </div>

    </div>

  </ng-template>

</app-component-tester>
