<div class="w-100 h-100 position-relative border rounded-3 shadow-sm">
  <rid-floating-menu [items]="floatingMenuItems" [offsetTop]="250" [maxVisibleItems]="4">
  </rid-floating-menu>
  <rid-floating-menu [items]="floatingMenuItems2" [maxVisibleItems]="impMaxVisibleItems" [offsetTop]="impOffsetTop"
    [closeOnBackDropClick]="impCloseOnBackDropClick">
  </rid-floating-menu>
</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
