<div class="w-100">
  <!-- sin cargar -->
  <div *ngIf="!selectedFilesLabel" class="form-control border rounded-3 shadow-sm" [style.height.px]="36"
    [style.minHeight.px]="36"
    [ngClass]="{'bg-secondary bg-opacity-25 text-white': draggingHover && !selectedFilesLabel}" ridDragDrop
    (dropped)="setFile($event)" (dragLeave)="draggingHover = false" (dragOver)="draggingHover = true">
    <input #uploadInput type="file" id="dragDropFileInput_{{label}}" class="d-none"
      (change)="setFile(uploadInput.files)" [multiple]="isMultiple" (blur)="onBlur()" />
    <label for="dragDropFileInput_{{label}}"
      class="h-100 d-flex justify-content-center align-items-center fw-semibold text-size-3 rid-cursor-pointer">
      <rid-svg [url]="'assets/download-file.svg'" [width]="18" [height]="18"></rid-svg>
      <span class="ps-2">
        {{ label }}
      </span>
    </label>
  </div>
  <!-- cargado -->
  <div *ngIf="selectedFilesLabel" [style.height.px]="36" [style.minHeight.px]="36"
    class="h-100 form-control d-flex justify-content-center align-items-center rounded-3 shadow-sm text-size-3">
    <span class="px-2">
      <b class="pe-1">Cargado: </b> {{ selectedFilesLabel }}
    </span>
    <rid-svg (click)="cleanFiles()" [svgClass]="'text-muted rid-cursor-pointer'" [url]="'assets/x-circle.svg'"
      [width]="10" [height]="10"></rid-svg>
  </div>

</div>
