<div class="mb-4 p-3 border rounded-3">
  <label>Custom:</label>
  <rid-upload-file [isMultiple]="impIsMultiple" [label]="impLabel" (uploaded)="checkChanges($event)">
  </rid-upload-file>

  <form [formGroup]="frmDummy" (ngSubmit)="onSubmit()">
    <label>Form control:</label>
    <rid-upload-file formControlName="files"></rid-upload-file>
    <button ridButton type="submit">Validar</button>
  </form>
</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
