<div class="w-100 fh-70 p-3 border rounded-3 position-relative">
  <!-- control interactions -->
  <app-interactions [inputs]="impInputs"></app-interactions>
  <rid-modal></rid-modal>
</div>

<ng-template #modalExample>
  <div class="h-100 w-100 bg-white">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Doloribus magnam alias nam totam beatae odit molestias minus,
      quos nihil dolorum, consectetur eum quas et quisquam rem dolores,
      repellendus error cumque?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Doloribus magnam alias nam totam beatae odit molestias minus,
      quos nihil dolorum, consectetur eum quas et quisquam rem dolores,
      repellendus error cumque?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Doloribus magnam alias nam totam beatae odit molestias minus,
      quos nihil dolorum, consectetur eum quas et quisquam rem dolores,
      repellendus error cumque?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Doloribus magnam alias nam totam beatae odit molestias minus,
      quos nihil dolorum, consectetur eum quas et quisquam rem dolores,
      repellendus error cumque?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Doloribus magnam alias nam totam beatae odit molestias minus,
      quos nihil dolorum, consectetur eum quas et quisquam rem dolores,
      repellendus error cumque?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Doloribus magnam alias nam totam beatae odit molestias minus,
      quos nihil dolorum, consectetur eum quas et quisquam rem dolores,
      repellendus error cumque?</p>

    <p>¿Aceptar los terminos y condiciones?</p>

    <div class="d-flex w-100 justify-content-between">
      <button ridButton [isCompact]="true" [btnType]="'danger'" (click)="doCloseModal(false)">
        No
      </button>
      <button ridButton [btnType]="'success'" (click)="doCloseModal(true)">
        Si
      </button>
    </div>
  </div>
</ng-template>
