<div class="mb-4">
  <h6>Ejemplo base:</h6>
  <div class="d-flex">
    <rid-switch [items]="impSwitchItemsOne" (change)="onSwitchChange($event)">
    </rid-switch>
  </div>
</div>
<div class="mb-4">
  <h6>Ejemplo pasando por default un item:</h6>
  <div class="d-flex">
    <rid-switch [items]="impSwitchItems" [default]="impSwitchItems[1]" (change)="onSwitchChange($event)">
    </rid-switch>
  </div>
</div>
<div class="mb-4">
  <h6>Ejemplo pasando por default un index:</h6>
  <div class="d-flex">
    <rid-switch [items]="impSwitchItems" [default]="3" (change)="onSwitchChange($event)">
    </rid-switch>
  </div>
</div>
<div class="mb-4">
  <h6>Ejemplo pasando por default un index incorrecto (toma la pos cero):</h6>
  <div class="d-flex">
    <rid-switch [items]="impSwitchItems" [default]="6" (change)="onSwitchChange($event)">
    </rid-switch>
  </div>
</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
