.rid-calendar-today-date:not(.rid-calendar-selected-range-date):not(.rid-calendar-selected-date-first):not(.rid-calendar-selected-date-last) {
  border-radius: var(--bs-border-radius-lg) !important;
}

.rid-calendar-today-date {
  background-color: var(--bs-dark) !important;
  color: var(--bs-white) !important;
}

.rid-calendar-selected-date:not(.rid-calendar-selected-date-last):not(.rid-calendar-selected-date-first) {
  border-radius: var(--bs-border-radius-lg) !important;
}

.rid-calendar-selected-date:not(.rid-calendar-selected-range-date) {
  background-color: var(--bs-dark) !important;
  color: var(--bs-white) !important;
}

.rid-calendar-invalid-date {
  color: var(--bs-gray-500) !important;
  cursor: default !important;
}

.rid-calendar-selected-range-date {
  background-color: var(--bs-dark) !important;
  opacity: .25 !important;
  color: var(--bs-light) !important;
}

.rid-calendar-selected-date-first {
  @extend .rid-calendar-selected-date;
  border-radius: var(--bs-border-radius-lg) 0 0 var(--bs-border-radius-lg) !important;
}

.rid-calendar-selected-date-last {
  @extend .rid-calendar-selected-date;
  border-radius: 0 var(--bs-border-radius-lg) var(--bs-border-radius-lg) 0 !important;
}
