<div [ridResized]="onResize" class="w-100 bg-light border rounded shadow-sm p-3">
  <div *ngIf="data">
    <!-- header -->
    <div class="w-100 d-flex justify-content-between">
      <div class="h-100 rid-cursor-pointer d-flex align-items-center" (click)="prevMonth()">
        <rid-svg *ngIf="showNavigationsArrows" [url]="'./assets/chevron-left.svg'"></rid-svg>
      </div>
      <div class="d-flex align-items-center">
        <select *ngIf="showMonthYearSelectors && monthYearSelectorsEditable" [style.minWidth.px]="80"
          class="form-select form-select-sm rounded-3 text-size-4 fw-bold text-end rid-hide-focus user-select-none rid-cursor-pointer"
          [(ngModel)]="data.calendarDate.month" (change)="updateCalendarDateMonth()">
          <option *ngFor="let month of data?.meta?.yearMonthsText; let i = index;" class="text-start text-capitalize"
            [value]="i+1">
            {{month}}
          </option>
        </select>
        <p *ngIf="showMonthYearSelectors && !monthYearSelectorsEditable"
          class="mb-0 text-size-4 fw-bold text-capitalize">
          {{ data.calendarDate.monthText}}
        </p>
        <select *ngIf="showMonthYearSelectors && monthYearSelectorsEditable && (((maxYear + 1) - minYear) !== 1)"
          class="form-select form-select-sm ms-2 rounded-3 text-size-4 fw-bold text-end rid-hide-focus user-select-none rid-cursor-pointer"
          [style.minWidth.px]="65" [(ngModel)]="data.calendarDate.year" (change)="updateCalendarDateYear()">
          <option *ngFor="let x of [].constructor((maxYear + 1) - minYear); let i = index;"
            class="text-start text-capitalize" [value]="minYear + i">
            {{ minYear + i }}
          </option>
        </select>
        <p *ngIf="showMonthYearSelectors && !monthYearSelectorsEditable || ((maxYear + 1) - minYear === 1)"
          class="ms-2 mb-0 text-size-4 fw-bold">
          {{data.calendarDate.year}}
        </p>
      </div>
      <div class="h-100 rid-cursor-pointer d-flex align-items-center" (click)="nextMonth()">
        <rid-svg *ngIf="showNavigationsArrows" [url]="'./assets/chevron-right.svg'"></rid-svg>
      </div>
    </div>
    <!-- divisor -->
    <div *ngIf="showMonthYearSelectors || showNavigationsArrows" class="my-3">
      <div class="border-bottom border-muted"></div>
    </div>
    <!-- calendar -->
    <div #CalendarContainer class="d-flex flex-wrap">
      <!-- days -->
      <div *ngFor="let day of data.meta?.weekDaysText" [style.minWidth.px]="colWeight()">
        <p class="mb-0 fw-bold text-muted text-size-2 text-center">
          {{day}}
        </p>
      </div>
      <!-- empties -->
      <div *ngFor="let x of [].constructor((data?.calendarDate?.monthPreDays))" [style.minWidth.px]="colWeight()"
        [style.minHeight.px]="colWeight()">
      </div>
      <!-- month days -->
      <div
        class="d-flex justify-content-center align-items-center user-select-none rid-cursor-pointer py-1 px-2 {{isSelectedDate(i + 1)}}"
        *ngFor="let x of [].constructor(data?.calendarDate?.monthNumberOfDays); let i = index;"
        [style.minWidth.px]="colWeight()" [style.minHeight.px]="colWeight()" [ngClass]="{
          'rid-calendar-today-date': !disabled && (data.today.month === data.calendarDate.month && (data.today.day === i + 1)),
          'rid-calendar-selected-range-date': (type === 'range') && isInRangeDate(i+1),
          'rid-calendar-invalid-date': !disabled && !isValidDate(i+1)
        }" (click)="!disabled && isValidDate(i+1) && selectDate(i+1)">
        <p class="mb-0 fw-bold text-size-4" [ngClass]="{'text-black-50': disabled}">
          {{i+1}}
        </p>
      </div>
      <!-- empties -->
      <ng-container *ngIf="justifyRows">
        <div *ngFor="let x of [].constructor(data?.calendarDate?.monthPostDays);" [style.minWidth.px]="colWeight()"
          [style.minHeight.px]="colWeight()">
        </div>
      </ng-container>
    </div>
    <div class="w-100 d-flex justify-content-end" [ngClass]="{'mt-2': !justifyRows}">
      <button *ngIf="showClear" ridButton (click)="clear()" [disabled]="disabled">
        Limpiar
      </button>
      <button *ngIf="showToday" ridButton [btnType]="'secondary'" class="ms-2" (click)="goToToday()"
        [disabled]="disabled">
        Hoy
      </button>
    </div>
  </div>
</div>
