<div class="w-100 position-relative">
  <!-- tab labels -->
  <div class="w-100 d-flex flex-wrap position-relative" [style.bottom.px]="-1">
    <div *ngFor="let item of items; let i = index;" (click)="selectTab(i)"
      [ngClass]="{'fw-semibold border-bottom-0 ': activeIndex === i}"
      class="position-relative me-1 border rounded-top user-select-none rid-cursor-pointer bg-white">
      <!-- label badges -->
      <div class="w-100 position-absolute d-flex justify-content-end" [style.top.px]="-7" [style.right.px]="-7">
        <p *ngFor="let badge of item?.badges; let i = index;" [ngClass]="{'ms-1': i}"
          class="mb-0 px-1 text-size-2 fw-bold shadow-sm badge {{ badge.class || 'bg-dark text-light'}}">
          {{badge.value}}
        </p>
      </div>
      <!-- label content -->
      <div class="h-100 w-100 d-flex align-items-center px-3 py-2">
        <p class="mb-0 text-size-3">
          {{item.label}}
        </p>
      </div>
    </div>
  </div>
  <!-- tab content -->
  <div class="w-100 border rounded-bottom rounded-end shadow-sm">
    <ng-container *ngIf="currentTemp">
      <ng-template [ngTemplateOutlet]="currentTemp"></ng-template>
    </ng-container>
  </div>
</div>
