<div class="h-100 d-flex align-items-center border-start ps-2">
  <a class="lh-1 text-size-4 fw-semibold text-decoration-none" href="javascript:;"
    (click)="!disabled && onFilter.emit();" [ngClass]="disabled ? 'text-muted rid-cursor-not-allowed' : 'text-primary'">
    {{label}}
  </a>
</div>
