<div class="w-100 d-flex justify-content-center align-items-center">
  <ng-container *ngFor="let item of [].constructor(inputsLength); let i = index; let isLast = last;">
    <div [ngClass]="{ 'pe-2': !isLast}">
      <rid-pin-code-item (moveTo)="moveTo($event)" (blur)="onItemBlur()" [index]="i" [onlyNumbers]="onlyNumbers"
        [length]="getInputMaxLength(i)">
      </rid-pin-code-item>
    </div>
  </ng-container>
</div>