<div class="w-100 h-100 position-relative border rounded-3 shadow-sm">
  <rid-contextual-menu>
  </rid-contextual-menu>
</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
