<div *ngIf="currentAlert" (click)="closable === 'click' && clearCurrentAlert()"
  class="m-0 py-2 px-3 bg-light alert rounded-3 border-2 shadow-sm d-flex justify-content-between align-items-center"
  [ngClass]="{'rid-cursor-pointer': closable === 'click'}">
  <div class="d-flex align-items-center">
    <rid-svg class="text-{{currentAlert.type}}" *ngIf="showIcon" [url]="currentAlert.iconUrl" [width]="27"
      [height]="27">
    </rid-svg>
    <div class="d-flex flex-column pe-3 pe-none user-select-none" [ngClass]="{'ps-3': showIcon}">
      <p class="mb-0 fw-bold text-size-4 text-{{currentAlert.type}} ">
        {{ listening ? currentAlert.title : title }}
      </p>
      <p class="mb-0 text-size-3 text-muted">
        {{ listening ? currentAlert.message : message }}
      </p>
      <div class="d-flex align-items-center text-muted" *ngIf="showTime">
        <rid-svg [url]="'assets/clock.svg'" [width]="9" [height]="9">
        </rid-svg>
        <p class="mb-0 ps-1 text-size-2 text-muted">
          {{ currentAlert.time }} hs.
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <div class="rid-cursor-pointer text-muted">
      <rid-svg *ngIf="closable === 'times'" (click)="clearCurrentAlert()" [url]="'assets/x.svg'" [width]="22"
        [height]="22">
      </rid-svg>
    </div>
  </div>
</div>
