<form [formGroup]="frmPinCode" class="py-5 border text-center">
  <rid-pin-code formControlName="pincode" [maxLengthPerPin]="[2,5,3,4]" [inputsLength]="inputsLength"
    [onlyNumbers]="showOnlyNumbers">
  </rid-pin-code>
</form>


<div class="w-100 row m-0 p-0 mt-5">
  <!-- status -->
  <div class="col">
    <p class="mb-0"><b>Status PinCode:</b></p>
    <ul>
      <li><b>FormControl valid:</b> {{this.frmPinCode.get('pincode')?.valid}}</li>
      <li><b>FormControl value:</b> {{this.frmPinCode.get('pincode')?.value}}</li>
      <li><b>FormGroup valid:</b> {{this.frmPinCode.valid}}</li>
    </ul>
  </div>
  <!-- control interactions -->
  <div class="col">
    <ul class="list-unstyled">
      <li class="mb-3">
        <button class="btn me-4 btn-sm shadow-sm" [ngClass]="showOnlyNumbers ? 'btn-dark' : 'btn-light'"
          (click)="showOnlyNumbers = !showOnlyNumbers">
          ToggleOnlyNumbers
        </button>
      </li>
      <li class="mb-3">
        <button class="btn me-4 btn-sm shadow-sm"
          [ngClass]="this.frmPinCode.get('pincode')?.enabled ? 'btn-dark' : 'btn-light'" (click)="toggleDisabled()">
          {{ this.frmPinCode.get('pincode')?.enabled ? 'Activado' : 'Desactivado' }}
        </button>
      </li>
      <li class="mb-3">
        <button class="btn btn-dark me-4 btn-sm" (click)="setValue('')">
          Limpiar
        </button>
      </li>
      <li class="d-flex mb-3">
        <input class="form-control form-control-sm me-2" [style.width.px]="200" type="text" #inputValue
          value="123nbufiahhdwajd1h2312h3">
        <button class="btn btn-dark btn-sm me-4" (click)="setValue(inputValue.value)">
          Setear valor
        </button>
      </li>
      <li class="d-flex mb-3">
        <input class="form-control form-control-sm me-2" [style.width.px]="200" type="number" #inputLength value="5">
        <button class="btn btn-dark btn-sm me-4" (click)="setInputsLength(inputLength.value)">
          SetInputsLength
        </button>
      </li>
    </ul>
  </div>
</div>