<div class="w-100" [style.minHeight.px]="containerMinHeight">
  <!-- container -->
  <div #carrouselContainer class="w-100 h-100 position-relative user-select-none">
    <!-- hub -->
    <div class="w-100 h-100 position-absolute pe-none" [style.minHeight.px]="containerMinHeight"
      [style.height.px]="containerMinHeight" [style.maxHeight.px]="containerMinHeight" [style.zIndex]="1">
      <div class="w-100 h-100 d-flex justify-content-between">
        <!-- left arrow -->
        <div class="h-100 fh-min-100 d-flex align-items-center pb-2">
          <rid-svg *ngIf="!showError && showLeftNavigationArrow" class="pe-auto" [url]="'./assets/chevron-left.svg'"
            (click)="prev()"></rid-svg>
        </div>
        <!-- dots -->
        <div class="h-100 d-flex align-items-end">
          <ng-container *ngFor="let slide of currentSlides; let i = index; let isLast = last;">
            <div *ngIf="!showError && showNavigationsSteps" class="rounded-1 pe-auto rid-cursor-pointer"
              [style.width.px]="10"
              [ngClass]="{ 'bg-dark': currentIndex === i, 'border border-dark bg-light': currentIndex !== i, 'me-1': !isLast }"
              [style.height.px]="10" (click)="goToIndex(i)"></div>
          </ng-container>
        </div>
        <!-- right arrow -->
        <div class="h-100 fh-min-100 d-flex align-items-center pb-2">
          <rid-svg *ngIf="!showError && showRightNavigationArrow" class="pe-auto" [url]="'./assets/chevron-right.svg'"
            (click)="next()">
          </rid-svg>
        </div>
      </div>
    </div>
    <!-- slides -->
    <div class="w-100 h-100 position-absolute">
      <div #slidesContainer class="d-flex overflow-hidden rid-slide-container" [ridResized]="checkMinHeight">
        <!-- contents -->
        <ng-container *ngIf="currentSlides.length && !showError">
          <div class="py-2 px-1"
            *ngFor="let slide of currentSlides; let i = index; let isFirst = first; let isLast = last;" [ngClass]="{
              'ps-2': isFirst || (currentIndex === i && currentIndex + slidesPerView <= totalSlides)
                || (currentIndex + slidesPerView > totalSlides && i === totalSlides - slidesPerView),
              'pe-2': currentIndex - 1 + slidesPerView === i || isLast
            }" [style.width.px]="slideWidth" [style.minWidth.px]="slideWidth" [style.maxWidth.px]="slideWidth"
            (click)="scrollOnSelect && goToIndex(i)">
            <div class="w-100 h-100 shadow-sm rounded overflow-hidden">
              <ng-template [ngTemplateOutlet]="slide.template"></ng-template>
            </div>
          </div>
        </ng-container>
        <!-- error -->
        <ng-container *ngIf="errorSlide && errorSlide.template && showError">
          <ng-template [ngTemplateOutlet]="errorSlide.template"></ng-template>
        </ng-container>
        <!-- default -->
        <ng-container *ngIf="defaultSlide && defaultSlide.template && !showError && !currentSlides.length">
          <ng-template [ngTemplateOutlet]="defaultSlide.template"></ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>
