<div class="w-100 py-2">
  <rid-tabs>
    <!-- tab fija -->
    <ng-template [ridTab]="staticTabLabel" *ngIf="showStaticTab" [badges]="staticTabBadges">
      <div class="p-5 text-center">
        <p class="mb-0 fw-bold">
          Contenido Fijo
        </p>
      </div>
    </ng-template>

    <!-- tab con ngfor -->
    <ng-template [ridTab]="'NgFor label ' + i" *ngFor="let item of [].constructor(4); let i = index;">
      <div class="p-5 text-center">
        <p class="mb-0 fw-bold">
          Contenido n°{{i}}
        </p>
      </div>
    </ng-template>

    <!-- tab con template label -->
    <ng-template [ridTab]="'label customizado'" [badges]="customTabBadges">
      <div class="p-5 text-center">
        <p class="mb-0 fw-bold text-danger">
          Contenido customizado
        </p>
      </div>
    </ng-template>
  </rid-tabs>

</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
