<div class="d-flex justify-content-center flex-column align-items-center">
  <rid-svg *ngIf="imageUrl" class="mb-2" [url]="imageUrl" [width]="forceImageWidth" [height]="forceImageHeight">
  </rid-svg>
  <p class="mb-0 text-size-7 text-dark fw-bold">
    {{ message }}
  </p>
  <p class="mb-0 text-size-5 text-muted">
    {{ description }}
  </p>
</div>
