<div class="border-start ps-2">
  <!-- titulo -->
  <rid-label [text]="label"></rid-label>

  <!-- dropdown -->
  <rid-dropdown #dropdown (toggled)="onToggledDropdown($event)" [showChevron]="true" [alignment]="'left'">
    <ng-template ridDropdownHeader>
      <div class="w-100 py-3 px-4">
        <div class="w-100">
          <!-- opcion toggle all -->
          <rid-check *ngIf="isMultiple && showOptionAll" #checkAll class="rid-cursor-pointer pb-1"
            [label]="optionAllLabel" (onChecked)="toggleAll($event)">
          </rid-check>
          <ng-container *ngFor="let option of options">
            <!-- opcion simple -->
            <p *ngIf="!isMultiple" class="mb-1 text-size-4 rid-cursor-pointer user-select-none"
              (click)="selectOption(option); dropdown.close();">
              {{option.text}}
            </p>
            <!-- opcion checkbox -->
            <rid-check *ngIf="isMultiple" class="rid-cursor-pointer pb-1" [(ngModel)]="option.selected"
              [label]="option.text" (onChecked)="checkToggleAll()">
            </rid-check>
          </ng-container>
        </div>
        <div class="w-100 mt-2 d-flex justify-content-end">
          <a href="javascript:;" class="link text-decoration-none text-dark fw-semibold text-size-3"
            (click)="dropdown.close(); reset();">
            Resetear
          </a>
          <a *ngIf="isMultiple" href="javascript:;"
            class="ms-2 link text-decoration-none text-dark fw-semibold text-size-3"
            (click)="dropdown.close(); updateMultipleOptions();">
            Aceptar
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template ridDropdownToggle>
      <p class="mb-0 lh-1 text-size-3 text-truncate" [style.paddingRight.rem]="'1.8'">
        {{selectedText}}
      </p>
    </ng-template>
  </rid-dropdown>

</div>
