<div class="d-flex justify-content-between" [style.minWidth.px]="150" [style.maxWidth.px]="150">
  <div class="d-flex align-items-center">
    <button ridButton (click)="prev()" [disabled]="!showPrevBtn()" [isCompact]="true" [forceClass]="'p-0'">
      <rid-svg [url]="'./assets/chevron-left.svg'" [width]="13" [height]="13">
      </rid-svg>
    </button>
  </div>
  <div class="d-flex align-items-center">
    <input *ngIf="!disablePageInput" type="number" [(ngModel)]="currentPage" [max]="totalPages" [min]="1"
      (blur)="checkValue()" (keydown.enter)="checkValue()"
      class="px-1 text-center rid-hide-arrow form-control form-control-sm rounded-3 border shadow-sm text-size-2"
      [style.minHeight.px]="23" [style.maxHeight.px]="23" [style.minWidth.px]="30" [style.maxWidth.px]="30" />
    <p class="mb-0 text-size-3 text-muted" [ngClass]="{'ps-1' : !disablePageInput}">
      {{ disablePageInput ? currentPage : ' ' }} de {{totalPages}}
    </p>
  </div>
  <div class="d-flex align-items-center">
    <button ridButton (click)="next()" [disabled]="!showNextBtn()" [isCompact]="true" [forceClass]="'p-0'">
      <rid-svg [url]="'./assets/chevron-right.svg'" [width]="13" [height]="13">
      </rid-svg>
    </button>
  </div>
</div>
