<div class="w-100 border rounded-3 p-3 bg-secondary bg-opacity-25">

  <rid-carrousel (sliceChange)="onSliceChange($event)" [showError]="impShowError" [cyclic]="impCyclic"
    [showNavigationsArrows]="impShowNavigationsArrows" [showNavigationsSteps]="impShowNavigationsSteps"
    [slidesPerView]="impSlidesPerView" [autoplay]="impAutoplay" [autoplayDelay]="impAutoplayDelay"
    [stopOnHover]="impStopOnHover" [draggable]="impDraggable" [scrollOnSelect]="impScrollOnSelect">

    <ng-template ridErrorSlide>
      <div class="bg-danger rounded-3 w-100 text-white d-flex justify-content-center align-items-center"
        [ngStyle]="{'min-height': impContainerHeight + 'px'}">
        <h1>ERROR</h1>
      </div>
    </ng-template>

    <ng-template ridDefaultSlide>
      <div class="bg-info rounded-3 w-100 text-white d-flex justify-content-center align-items-center"
        [ngStyle]="{'min-height': impContainerHeight + 'px'}">
        <h1>DEFAULT</h1>
      </div>
    </ng-template>

    <ng-template *ngIf="impShowSlides" ridSlide [context]="{name: 'ivan'}">
      <div class="pt-2 ps-3 bg-warning" [ngStyle]="{'min-height': impContainerHeight + 'px'}">
        <h1>0S</h1>
      </div>
    </ng-template>

    <ng-container *ngFor="let x of [].constructor(impCountSlides); let i = index;">
      <ng-template ridSlide *ngIf="impShowSlides">
        <div class="pt-2 ps-3 bg-white" [ngStyle]="{'min-height': impContainerHeight + 'px'}">
          <h1>{{i+1}}</h1>
        </div>
      </ng-template>
    </ng-container>

  </rid-carrousel>

</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
