<div class="w-100 border rounded-3 p-3 bg-light">

  <rid-dropdown (toggled)="onToggledDropdown($event)" [showChevron]="impShowChevron" [items]="impItems"
    [maxWidth]="impMaxWidth" [minWidth]="impMinWidth" [alignment]="impAlignment" [chevronLight]="impChevronLight">
    <ng-template *ngIf="impShowFooter" ridDropdownFooter>
      <div class="w-100 p-2 d-flex-justify-content-center align-items-center">
        <p class="m-0">FOOTER</p>
      </div>
    </ng-template>
    <ng-template *ngIf="impShowHeader" ridDropdownHeader>
      <div class="w-100 p-2 d-flex-justify-content-center align-items-center">
        <p class="m-0">HEADER</p>
      </div>
    </ng-template>
    <ng-template ridDropdownToggle>
      <button ridButton [forceClass]="'pe-4'">
        Dropdown
      </button>
    </ng-template>
  </rid-dropdown>

</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
