<div class="border-start ps-2">
  <!-- titulo -->
  <rid-label [text]="label"></rid-label>

  <!-- dropdown -->
  <rid-dropdown #dropdown (toggled)="onToggledDropdown($event)" [showChevron]="true" [maxWidth]="300" [minWidth]="300"
    [alignment]="'left'">
    <ng-template ridDropdownHeader>
      <div class="w-100 p-3">
        <rid-input #myInput [description]="description">
          <input #ridInput type="text" [placeholder]="placeHolder || ''"
            (keyup.enter)="dropdown.close(); setValue(ridInput.value); ridInput.value = '';">
        </rid-input>
        <div class="w-100 d-flex justify-content-end" [ngClass]="{'pt-2': !description}">
          <button ridButton type="button" [btnType]="'secondary'" [isCompact]="true"
            (click)="dropdown.close(); ridInput.value = '';">
            Cancelar
          </button>
          <button ridButton type="button" class="ms-2" [isCompact]="true"
            (click)="dropdown.close(); setValue(ridInput.value); ridInput.value = '';">
            Aceptar
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template ridDropdownToggle>
      <p class="mb-0 lh-1 text-size-3" [style.paddingRight.rem]="'1.8'">
        {{_status.currentValue}}
      </p>
    </ng-template>
  </rid-dropdown>
</div>
