<div class="w-100 h-100 position-relative" (contextmenu)="showContextMenu($event)" (click)="closeContextMenu($event)">
  <div *ngIf="_opened" class="position-absolute py-2 rounded-3 border shadow-sm" [style.top.px]="_posTop"
    [style.left.px]="_posLeft">
    <div *ngFor="let option of _currentMenu; let isLast = last;"
      class="px-3 py-1 mb-1 rid-cursor-pointer d-flex {{option.forceClass}}"
      [ngClass]="{ 'border-bottom pb-2': option.showDivider }" (click)="option.action()">
      <rid-svg *ngIf="option.icon" [svgClass]="'me-1'" [url]="option.icon"></rid-svg>
      <p class="mb-0 lh-1 text-size-3 align-self-center"
        [style.marginLeft.px]="(someIconExist && !option.icon) ? 20 : 0">
        {{ option.label }}
      </p>
    </div>
  </div>
</div>
