<div class="row">
  <div class="col-3">
    <h5>Básico</h5>
    <rid-chips [(chips)]="impItems1"></rid-chips>
  </div>
  <div class="col-6">
    <h5>Removibles</h5>
    <rid-chips [(chips)]="impItems2"></rid-chips>
  </div>
  <div class="col-3">
    <h5>Customizados</h5>
    <rid-chips [(chips)]="impItems3"></rid-chips>
  </div>
</div>

<p class="mt-5 mb-0 text-size-3 fw-bold text-dark">Estado de two way bindigs</p>
<ul>
  <li *ngFor="let item of impItems3">
    <p class="mb-0 text-size-3">{{item.id}} - {{item.label}}</p>
  </li>
</ul>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
