<div class="w-100 d-flex flex-wrap rounded-3 shadow-sm border p-3">
  <div class="position-relative pe-none user-select-none" *ngFor="let chip of chips"
    class="d-flex align-items-center py-2 ps-3 pe-4 me-2 mb-2 shadow-sm rounded-pill user-select-none {{'bg-' + chip.type}}"
    (click)="chip.removable && removeChip(chip)" [ngClass]="{'rid-cursor-pointer': chip.removable}">
    <!-- icono -->
    <rid-svg *ngIf="chip.iconUrl" class="pe-2 text-white" [url]="chip.iconUrl || ''" [width]="12" [height]="12">
    </rid-svg>
    <!-- texto -->
    <p class="lh-1 text-size-2 mb-0 fw-bold text-white" [ngClass]="{'pe-2': chip.iconUrl}">
      {{chip.label}}
    </p>
    <!-- cruz -->
    <div *ngIf="chip.removable"
      class="pe-4 z-1 pe-auto position-absolute w-100 h-100 d-flex align-items-center justify-content-end">
      <rid-svg class="text-white" [url]="'assets/x-lg.svg'" [width]="10" [height]="10"
        [ngClass]="{'pe-1': chip.iconUrl}">
      </rid-svg>
    </div>
  </div>
</div>
