.rid-btn-loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.rid-btn-group-first {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rid-btn-group {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.rid-btn-group-last {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
