<div
  class="btn btn-sm rounded-3 shadow-sm py-1 px-2 d-flex align-items-center justify-content-center {{btnClasses}} {{forceClass}}">
  <div *ngIf="isLoading"
    class="rid-btn-loader bg-dark bg-opacity-50 rounded-3 d-flex align-items-center justify-content-center">
    <rid-loader [isDark]="true" [size]="'xs'">
    </rid-loader>
  </div>
  <ng-content></ng-content>
</div>
