<div class="px-2 py-1 d-flex align-items-center justify-content-center rounded-3 border border-2"
  [style.width]="'fit-content'" [ngClass]="darkMode ? 'bg-dark text-light border-dark' : 'bg-white text-muted'">
  <rid-svg *ngFor="let key of keys" [url]="getKeyUrl(key)" [svgClass]="'me-1'" [height]="12" [width]="12">
  </rid-svg>
  <p class="mb-0 text-size-3 fw-bold">
    <ng-content></ng-content>
  </p>
</div>
