<div class="px-3 py-5 border shadow-sm rounded-3 d-flex justify-content-center user-select-none">
  <rid-pagination [totalPages]="impTotalPages" [disablePageInput]="impDisablePageInput"
    (pageChanged)="onPageChanged($event)">
  </rid-pagination>
</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
