<div class="w-100 bg-light border rounded-3 shadow-sm position-relative p-3" [ngClass]="{'pb-4': footerActions.length}">
  <!-- header -->
  <div class="w-100 d-flex justify-content-between">
    <div>
      <div class="d-flex align-items-center">
        <rid-svg [url]="titleIcon" [width]="25" [height]="25"></rid-svg>
        <h4 class="mb-0 ps-1">
          {{title}}
        </h4>
      </div>
      <p class="mb-0 text-muted">
        {{subTitle}}
      </p>
    </div>
    <div *ngIf="isResponsive">
      <rid-dropdown [alignment]="'right'" [items]="headerActionsResponsive">
        <ng-template ridDropdownToggle>
          <a href="javascript:;" class="pe-4 d-flex align-items-center text-muted text-decoration-none">
            <p class="ps-1 mb-0">Opciones</p>
          </a>
        </ng-template>
      </rid-dropdown>
    </div>
    <div *ngIf="!isResponsive" class="d-flex align-items-start">
      <a *ngFor="let headerAction of headerActions; let i = index;" href="javascript:;"
        class="ms-2 d-flex align-items-center text-muted text-decoration-none" (click)="doAction(headerAction.action)">
        <rid-svg [url]="headerAction.icon"></rid-svg>
        <p class="ps-1 mb-0">{{headerAction.label}}</p>
      </a>
    </div>
  </div>
  <!-- body -->
  <div class="w-100" *ngIf="bodyTemplate">
    <ng-template [ngTemplateOutlet]="bodyTemplate"></ng-template>
  </div>
  <!-- footer -->
  <div *ngIf="footerActions.length" class="w-100 position-absolute d-flex pe-none" [style.bottom.px]="-15"
    [style.right.%]="2" [ngClass]="isResponsive ? ' justify-content-center' : 'justify-content-end'">
    <button *ngFor="let footerAction of footerActions" class="ms-2 pe-auto" ridButton
      [btnType]="footerAction.type || 'primary'" [disabled]="footerAction.isDisabled || false"
      [isLoading]="footerAction.isLoading || false" (click)="doAction(footerAction.action)">
      <rid-svg *ngIf="footerAction.icon" [url]="footerAction.icon"></rid-svg>
      <p class="mb-0 ps-1">{{footerAction.label}}</p>
    </button>
  </div>
</div>
