<label class="rid-cursor-pointer text-size-3 mb-1 {{forceClass}}" [ngClass]="{
    'lh-1': subText,
    'opacity-50 pe-none': isDisabled
    }">
  <span [ngClass]="{
    'fw-semibold d-flex flex-column justify-content-center': subText,
    'self-align-center': !subText
    }">
    {{text}}
  </span>
  <span *ngIf="subText" class="text-size-3 text-muted">
    {{subText}}
  </span>
