<div class="d-flex">
  <rid-kbd class="me-3" [darkMode]="impDarkMode" [keys]="[impCommand]">K</rid-kbd>
  <rid-kbd class="me-3" [keys]="keysImp" [darkMode]="impDarkMode">Z</rid-kbd>
  <rid-kbd [keys]="keysImp2" [darkMode]="impDarkMode">Z</rid-kbd>
</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
