<div class="w-100 border rounded-3 p-3">

  <p class="mb-1 text-size-4">Listado de botones:</p>
  <button ridButton class="me-2" [isCompact]="impIsCompact" [disabled]="impDisabled" [isLoading]="impIsLoading"
    (click)="onBtnClicked('Boton A')">
    Boton A
  </button>
  <button ridButton class="me-2" [isCompact]="impIsCompact" [btnType]="'secondary'" [disabled]="impDisabled"
    [isLoading]="impIsLoading" (click)="onBtnClicked('Boton B')">
    Boton B
  </button>
  <button ridButton class="me-2" [isCompact]="impIsCompact" [btnType]="'danger'" [disabled]="impDisabled"
    [isLoading]="impIsLoading" (click)="onBtnClicked('Boton B')">
    Boton B
  </button>
  <button ridButton class="me-2" [isCompact]="impIsCompact" [btnType]="'warning'" [disabled]="impDisabled"
    [isLoading]="impIsLoading" (click)="onBtnClicked('Boton C')">
    Boton C
  </button>
  <button ridButton class="me-2" [isCompact]="impIsCompact" [btnType]="'info'" [disabled]="impDisabled"
    [isLoading]="impIsLoading" (click)="onBtnClicked('Boton D')">
    Boton D
  </button>
  <button ridButton class="me-2" [isCompact]="impIsCompact" [btnType]="'success'" [disabled]="impDisabled"
    [isLoading]="impIsLoading" (click)="onBtnClicked('Boton E')">
    Boton E
  </button>

  <p class="mb-1 mt-4 text-size-4">Botones agrupados:</p>
  <div class="d-flex" ridButtonGroup>
    <button ridButton>Btn group 1</button>
    <button ridButton btnType="danger">Btn group 2</button>
    <button ridButton>Btn group 3</button>
    <button ridButton>Btn group 4</button>
  </div>

  <p class="mb-1 mt-4 text-size-4">Botones agrupados compactos:</p>
  <div class="d-flex" ridButtonGroup>
    <button ridButton [isCompact]="true">Btn group 1</button>
    <button ridButton [isCompact]="true" btnType="danger">Btn group 2</button>
    <button ridButton [isCompact]="true">Btn group 3</button>
    <button ridButton [isCompact]="true">Btn group 4</button>
  </div>

  <p class="mb-1 mt-4 text-size-4">Boton de tipo customizable:</p>
  <button ridButton class="me-2 d-flex" [isCompact]="impIsCompact" [btnType]="impBtnType" [disabled]="impDisabled"
    [isLoading]="impIsLoading" [forceClass]="impForceClass">
    <rid-svg [url]="'assets/code-slash.svg'" [width]="18" [height]="18"></rid-svg>
    <p class="mb-0 ps-1">Code</p>
  </button>

</div>


<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
