<rid-banner [message]="impMessage" [description]="impDescription" [imageUrl]="impImageUrl"
  [forceImageWidth]="impForceImageWidth" [forceImageHeight]="impForceImageHeight">
</rid-banner>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
