<rid-label [text]="'Texto del label'"></rid-label>
<rid-label [text]="'Texto del label'" [forceClass]="'text-danger'"></rid-label>
<rid-label [text]="'Texto del label'" [isDisabled]="true"></rid-label>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
