<div class="w-100 h-100 m-0 bg-white rounded shadow-sm rid-overflow-y-scroll" ridScrollable="routerOutlet">

  <!-- header -->
  <div class="w-100 py-3 px-4">
    <p class="mb-0 text-size-7 text-dark fw-semibold">
      / {{title}}
    </p>
    <p class="mb-0 text-size-3 text-muted fst-italic">
      {{description}}
    </p>
  </div>

  <div class="w-100 p-4 pt-3">
    <rid-tabs>
      <ng-template [ridTab]="page.label" *ngFor="let page of pages;">

        <div class="row m-0">
          <!-- body -->
          <div class="col-8 h-100 p-3">
            <div class="w-100 h-100 p-3">
              <ng-template [ngTemplateOutlet]="page.template"></ng-template>
            </div>
          </div>

          <!-- interactions -->
          <div class="col-4 h-auto p-3">
            <div class="w-100 h-100 p-3 bg-light rounded-3 shadow-sm">

              <!-- descripcion -->
              <div class="w-100 mb-4" *ngIf="page.description">
                <p class="mb-2 pb-1 border-2 border-bottom text-size-4 fw-semibold">
                  Descripción:
                </p>
                <p class="text-size-3">
                  {{ page.description || 'No hay descripción.' }}
                </p>
              </div>

              <!-- interacciones -->
              <div class="w-100" *ngIf="page.interactions.length">
                <p class="mb-2 pb-1 border-2 border-bottom text-size-4 fw-semibold">
                  Interacciones:
                </p>
                <ng-container *ngFor="let interaction of page.interactions">
                  <div class="w-100 d-flex align-items-center justify-content-between mb-3">
                    <div>
                      <rid-label [text]="interaction.label" [subText]="interaction.description"></rid-label>
                    </div>

                    <div [ngSwitch]="interaction.type">

                      <!-- template select -->
                      <div *ngSwitchCase="'select'" [style.minWidth.px]="100">
                        <rid-input>
                          <select #ridInput (change)="interaction.valueChanged(($any(ridInput).value))"
                            class="rid-cursor-pointer">
                            <option *ngFor="let option of $any(interaction).options" [value]="option"
                              [selected]="interaction.init === option">
                              {{option}}
                            </option>
                          </select>
                        </rid-input>
                      </div>

                      <!-- template boolean -->
                      <div *ngSwitchCase="'boolean'">
                        <button ridButton [isCompact]="true" [forceClass]="'text-size-2'"
                          (click)="interaction.init = !interaction.init; interaction.valueChanged(interaction.init);">
                          {{ interaction.init ? 'on' : 'off' }}
                        </button>
                      </div>

                      <!-- template button -->
                      <div *ngSwitchCase="'button'">
                        <button ridButton [isCompact]="true" [forceClass]="'text-size-2'"
                          (click)="$any(interaction).valueChanged();">
                          Enviar
                        </button>
                      </div>

                      <!-- template inputText -->
                      <div *ngSwitchCase="'inputText'">
                        <input #inputText type="text" [value]="interaction.init || ''">
                        <button ridButton [isCompact]="true" [forceClass]="'text-size-2'"
                          (click)="$any(interaction).valueChanged(inputText.value);">
                          Enviar
                        </button>
                      </div>

                      <!-- template inputNumber -->
                      <div *ngSwitchCase="'inputNumber'">
                        {{interaction.init}}
                        <input #inputNumber type="number" [value]="interaction.init || ''">
                        <button ridButton [isCompact]="true" [forceClass]="'text-size-2'"
                          (click)="$any(interaction).valueChanged(inputNumber.value);">
                          Enviar
                        </button>
                      </div>

                      <!-- default -->
                      <div *ngSwitchDefault>
                        <div class="w-100 py-5">
                          <p class="mb-0 text-size-5 fw-semibold">
                            Tipo de template no soportado
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>
                </ng-container>
              </div>

            </div>
          </div>
        </div>

      </ng-template>

    </rid-tabs>
  </div>
</div>
