<div class="mb-0 d-inline-block" [ridTooltip]="tempTooltip" [disabled]="disableTooltip || cancelTruncate"
  [orientation]="reverse ? 'right' : 'left'" [position]="reverse ? 'left-bottom' : 'right-bottom'">
  <span>{{truncated || text}}</span>
</div>

<ng-template #tempTooltip>
  <div class="bg-dark rounded py-1 px-2 text-white shadow-sm">
    <p [style.maxWidth.px]="tooltipMaxWidth" class="mb-0 align-self-center text-size-2 lh-1">
      {{text}}
    </p>
  </div>
</ng-template>
