<!-- <div>
  <div class="mb-4 d-flex align-items-center">
    <rid-svg class="me-2" [url]="'assets/phone.svg'"></rid-svg>
    <p class="mb-0 fw-bold me-2">MOBILE:</p>
    <p class="mb-0 text-light rounded p-1 lh-1" [ngClass]="{
      'bg-success': responsiveService.is('MOBILE'),
      'bg-danger': !responsiveService.is('MOBILE')
    }">
      {{responsiveService.is('MOBILE')}}
    </p>
  </div>
  <div class="mb-4 d-flex align-items-center">
    <rid-svg class="me-2" [url]="'assets/tablet-landscape.svg'"></rid-svg>
    <p class="mb-0 fw-bold me-2">NOTEBOOK:</p>
    <p class="mb-0 text-light rounded p-1 lh-1" [ngClass]="{
      'bg-success': responsiveService.is('NOTEBOOK'),
      'bg-danger': !responsiveService.is('NOTEBOOK')
    }">
      {{responsiveService.is('NOTEBOOK')}}
    </p>
  </div>
  <div class="mb-4 d-flex align-items-center">
    <rid-svg class="me-2" [url]="'assets/window-desktop.svg'"></rid-svg>
    <p class="mb-0 fw-bold me-2">DESKTOP:</p>
    <p class="mb-0 text-light rounded p-1 lh-1" [ngClass]="{
      'bg-success': responsiveService.is('DESKTOP'),
      'bg-danger': !responsiveService.is('DESKTOP')
    }">
      {{responsiveService.is('DESKTOP')}}
    </p>
  </div>
</div> -->



<div class="w-100 h-100 p-3 border rounded-3 shadow-sm d-flex align-items-center justify-content-center">
  <rid-banner [message]="responsiveService.is('NOTEBOOK') ? 'NOTEBOOK' :
     responsiveService.is('DESKTOP') ? 'DESKTOP' :
     responsiveService.is('MOBILE') ? 'MOBILE' : 'N/A'" [description]="'Valor actual del responsive service.'"
    [imageUrl]="responsiveService.is('NOTEBOOK') ? 'assets/tablet-landscape.svg' :
    responsiveService.is('DESKTOP') ? 'assets/window-desktop.svg' :
    responsiveService.is('MOBILE') ? 'assets/phone.svg' : 'N/A'">
  </rid-banner>
</div>
