<div class="w-100 border rounded-3 p-3 pb-4 bg-light">
  <p class="mb-0 text-size-5">
    Probando con un parrafo:
  </p>
  <div class="border rounded-3 p-3">
    <p class="mb-0" [ridCopy]="'Mi texto a \n copiar'" (copied)="onCopied($event)">
      Elemento cualquiera
    </p>
  </div>

  <p class="mb-0 text-size-5 mt-4">
    Probando con un div:
  </p>
  <div class="border rounded-3 p-3">
    <div #copy="ridCopy" [ridCopy]="'asdasds123213'" [forceTemplate]="forceTempImp">
      Contenido del div
    </div>
  </div>

  <p class="mb-0 text-size-5 mt-4">
    Probando con un boton desde fuera:
  </p>
  <div class="border rounded-3 p-3">
    <button (click)="copy.doCopy()" class="btn btn-sm btn-primary">Do copy</button>
  </div>



</div>



<ng-template #forceTempImp>
  <div class="p-1 border-3 bg-danger p-3">
    <p class="text-white mb-0">
      Forzado de template
    </p>
  </div>
</ng-template>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
