<div class="mb-4">
  <h5>Ejemplo basico</h5>
  <rid-svg [url]="'assets/puzzle.svg'"></rid-svg>
</div>

<div class="mb-4">
  <h5>Ejemplo con url erronea</h5>
  <rid-svg [url]="'esto/esta/mal.svg'"></rid-svg>
</div>

<div class="mb-4">
  <h5>Ejemplo con width y height</h5>
  <rid-svg [url]="'assets/puzzle.svg'" [width]="50" [height]="50"></rid-svg>
</div>

<div class="mb-4">
  <h5>Ejemplo agregando clases</h5>
  <rid-svg [svgClass]="'text-danger'" [url]="'assets/puzzle.svg'" [width]="50" [height]="50"></rid-svg>
</div>
