<div class="w-100 h-100 border rounded-3 p-3 shadow-sm">

  <rid-stepper (finalized)="onStepperClose($event)" [showStepsStatus]="true" [showCloseBtn]="true"
    [showStepsTitle]="true" [showStepsDescription]="true" [showFooterButtons]="true">
    <ng-template ridStep [title]="'step 1'" [description]="'Descripcion del paso 1'" [prevStepLabel]="'prev'"
      [prevStepHandler]="prevStepOneHandler" [nextStepLabel]="'next'" [nextStepHandler]="nextStepOneHandler"
      [omitStepChange]="true">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center text-size-8 bg-primary">
        <div class="text-center">
          <p>step 1</p>
          <button ridButton [btnType]="'danger'" (click)="goToStepTwo()">
            Forzar step 2
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template ridStep [title]="'step 2'" [hideGoBack]="true" [nextStepHandler]="nextStepTwoHandler">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center text-size-8 bg-warning">
        step 2
      </div>
    </ng-template>
    <ng-template ridStep [title]="'step 3'" [id]="'tresid'" [prevStepHandler]="prevStepThreeHandler">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center text-size-8 bg-danger">
        step 3
      </div>
    </ng-template>
    <ng-template ridStep [title]="'Oops!'" [id]="'errorid'" [description]="'Se ha producido un error.'"
      [showStepStatus]="false" [hideGoBack]="true" [omitStepChange]="true" [nextStepHandler]="nextStepErrorHandler"
      [nextStepLabel]="'Reintentar'">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center text-size-8 bg-danger">
        Lamentamos lo sucedido, vuelva a probar mas tarde.
      </div>
    </ng-template>
  </rid-stepper>
</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
