<div class="w-100 d-flex justify-content-center">
  <div class="col border py-3">
    <div class="text-center" [ridTooltip]="myTemp">original</div>
  </div>
  <div class="col border py-3">
    <div class="text-center" [ridTooltip]="myTemp" [position]="'top'" [orientation]="'center'">top</div>
  </div>
  <div class="col border py-3">
    <div class="text-center" [ridTooltip]="myTempWithArrow">arrow</div>
  </div>
  <div class="col border py-3">
    <div class="text-center" [ridTooltip]="myTemp" [closeDelay]="2000" [openDelay]="2000">delay</div>
  </div>
</div>

<ng-template #myTemp>
  <div class="bg-dark rounded shadow-sm py-1 px-2 text-white">
    Ejemplo de tooltip
  </div>
</ng-template>
<ng-template #myTempWithArrow>
  <div [ridTooltipArrow]="'top-left'" [config]="{ size: 'xs', style: 'dark' }"
    class="mt-2 bg-dark shadow-sm rounded py-1 px-2 text-white">
    Ejemplo de tooltip
  </div>
</ng-template>
