<div *ngIf="inputs.length" class="w-100 row m-0 p-0 mt-5">
  <div class="col">
    <ul class="list-unstyled">
      <li class="mb-3 d-flex align-items-center" *ngFor="let input of inputs">
        <b class="me-2 text-size-5">{{input.label}}:</b>
        <ng-container [ngSwitch]="input.type">
          <!-- switch -->
          <ng-container *ngSwitchCase="'switch'">
            <button class="btn me-4 btn-sm shadow-sm text-size-4 text-uppercase py-1 px-2"
              [ngClass]="input.value ? 'btn-dark' : 'btn-light'"
              (click)="input.value = !input.value; input.change(input.value);">
              {{input.value ? 'Activo' : 'Inactivo'}}
            </button>
          </ng-container>
          <!-- button -->
          <ng-container *ngSwitchCase="'button'">
            <button class="btn me-4 btn-sm shadow-sm text-size-4 text-uppercase py-1 px-2 btn-dark"
              (click)="input.change(input.value);">
              {{input.label || 'Enviar'}}
            </button>
          </ng-container>
          <!-- input -->
          <ng-container *ngSwitchCase="'input'">
            <ng-container [ngTemplateOutlet]="inputTemplate" [ngTemplateOutletContext]="{input}"></ng-container>
          </ng-container>
          <!-- input number -->
          <ng-container *ngSwitchCase="'inputNumber'">
            <ng-container [ngTemplateOutlet]="inputTemplate" [ngTemplateOutletContext]="{input}"></ng-container>
          </ng-container>
          <!-- array -->
          <ng-container *ngSwitchCase="'array'">
            <app-array-input *ngFor="let item of input.value; let i = index;" [default]="item"
              [placeholder]="input.placeholder ? input.placeholder[i] : ''" [fromId]="input.id || ''">
            </app-array-input>
            <button class="btn btn-dark me-4 btn-sm shadow-sm text-size-4 text-uppercase py-1 px-2"
              (click)="emitArrayInputChange(input)">
              Cambiar
            </button>
          </ng-container>
          <!-- select -->
          <ng-container *ngSwitchCase="'select'">
            <select class="form-select form-select-sm" [style.width.px]="200"
              (change)="emitSelectInputChange(input, $event)">
              <option [value]="option.value || option.label" *ngFor="let option of input.options">
                {{option.label}}
              </option>
            </select>
          </ng-container>
          <!-- default -->
          <div *ngSwitchDefault class="alert alert-danger">
            Tipo {{input.type}} erroneo!
          </div>
        </ng-container>
      </li>
    </ul>
  </div>
</div>

<ng-template #inputTemplate let-item="input">
  <input [type]="item?.type === 'inputNumber' ? 'number' : 'text'" class="form-control form-control-sm me-2 py-0 px-1"
    [style.width.px]="200" [(ngModel)]="item.value" [placeholder]="item?.placeholder">
  <button [disabled]="!item.value" class="btn btn-dark me-4 btn-sm shadow-sm text-size-4 text-uppercase py-1 px-2"
    (click)="item.change(item?.value); item.value = ''">
    Cambiar
  </button>
</ng-template>
