// .pin-item::-webkit-outer-spin-button,
// .pin-item::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// .pin-item[type='number'] {
//   -moz-appearance: textfield;
// }