<rid-card [title]="'mi titulo'" [titleIcon]="'assets/patch-question-fill.svg'" [subTitle]="'mi subtitulo'"
  [headerActions]="impHeaderActions" [footerActions]="impFooterActions">
  <ng-template *ngIf="impShowBody" ridCardBody>
    <p class="py-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam consectetur illum
      porro numquam aperiam nihil sint, autem nulla rerum, obcaecati vel iusto suscipit
      adipisci asperiores necessitatibus totam nisi. Accusamus, neque.
    </p>
  </ng-template>
</rid-card>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
