<div class="form-check user-select-none" [ngClass]="{
  'mb-1': description,
  'opacity-50 pe-none': isDisabled
  }">
  <input class="rid-cursor-pointer form-check-input" [type]="_type" id="rid-chk-{{id}}" name="rid-chk-{{_name}}"
    [checked]="checked" (blur)="onBlur()" (change)="onChange($event)">
  <label class="form-check-label rid-cursor-pointer text-size-4" for="rid-chk-{{id}}" [ngClass]="{'lh-1': description}">
    <span [ngClass]="{
      'fw-semibold d-flex flex-column justify-content-center': description,
      'self-align-center': !description
      }">
      {{label}}
    </span>
    <span *ngIf="description" class="text-size-3 text-muted">
      {{description}}
    </span>
  </label>
</div>
