<app-component-tester [title]="'Componente accordion'"
  [description]="'Ejemplo de implementacion de componente \'accordion\''">

  <ng-template [appTesterPage]="'Caso basico'" [description]="'Uso normal del commponente'"
    [interactions]="accordionInteractions">

    <div class="w-100 h-100 p-3 d-flex align-items-center justify-content-center">
      <div class="fw-50">
        <rid-accordion [compact]="isCompact" [multiple]="isMultiple" (onToggle)="impOnToggle($event)">
          <rid-accordion-item *ngFor="let i of [1,2,3,4,5,6]" [title]="'Titulo ' + i">
            <ng-template ridAccordionItemContent>
              <p class="mb-0 text-muted text-size-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In
                magnam quod natus deleniti architecto eaque consequuntur ex,
                illo neque iste repellendus modi, quasi ipsa commodi saepe?
                Provident ipsa nulla earum.
              </p>
            </ng-template>
          </rid-accordion-item>
        </rid-accordion>
      </div>
    </div>
  </ng-template>
  <ng-template [appTesterPage]="'Caso custom'" [description]="'Ejemplo general'" [interactions]="accordionInteractions">
    <rid-accordion [compact]="isCompact" [multiple]="isMultiple" (onToggle)="impOnToggle($event)">
      <rid-accordion-item *ngFor="let i of [1,2,3,4,5,6]" [title]="'titulo ' + i">
        <ng-template ridAccordionItemToggle>
          <div class="d-flex align-items-center p-2">
            <p class="mb-0 m-2 text-danger text-size-4">
              Este es un template totalmente customizado.
            </p>
            <button ridButton [type]="'danger'">Boton</button>
          </div>
        </ng-template>
        <ng-template ridAccordionItemContent>
          <p class="mb-0 text-muted text-size-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In
            magnam quod natus deleniti architecto eaque consequuntur ex,
            illo neque iste repellendus modi, quasi ipsa commodi saepe?
            Provident ipsa nulla earum.
          </p>
        </ng-template>
      </rid-accordion-item>
    </rid-accordion>
  </ng-template>
</app-component-tester>
