.nav-item {
  font-size: 18px;

  a {
    width: 100%;
    padding: 3px 13px 3px 7px;
    border-radius: 7px;
    color: rgb(143, 143, 143);
    text-decoration: none;

    &.selected,
    &:hover {
      background-color: rgb(48, 48, 48);
      color: white;
    }


  }
}
