<div class="w-100 h-100 bg-dark" [ngClass]="{'d-flex': !isResponsive}">
  <!-- lateral menu -->
  <div *ngIf="isResponsive" class="w-100 fh-7 bg-dark d-flex justify-content-between align-items-center px-4">
    <div class="w-100 d-flex justify-content-start align-items-end">
      <p class="mb-0 text-size-6 lh-1 text-white fw-bold rid-cursor-pointer d-flex" [routerLink]="'/home'">
        RID.
      </p>
      <p class="mb-0 text-size-3 lh-1 text-secondary">
        DesignSystem
      </p>
    </div>
    <rid-svg class="text-white rid-cursor-pointer" [width]="40" [height]="40"
      [url]="'assets/' + (showResponsiveMenu ? 'x' : 'list') + '.svg'"
      (click)="showResponsiveMenu = !showResponsiveMenu;">
    </rid-svg>
  </div>
  <div *ngIf="!isResponsive || (isResponsive && showResponsiveMenu)" class="bg-dark"
    [ngClass]="!isResponsive ? 'fw-19 h-100' : 'w-100 fh-93 position-absolute z-3'">
    <div class="h-100 w-100 rid-overflow-y-scroll" [ngClass]="!isResponsive ? 'py-4 ps-3 pe-2' : 'p-4'">
      <div *ngIf="!isResponsive" class="w-100 mb-3 d-flex justify-content-start align-items-end">
        <p class="mb-0 text-size-6 lh-1 text-white fw-bold rid-cursor-pointer d-flex" [routerLink]="'/home'">
          RID.
        </p>
        <p class="mb-0 text-size-3 lh-1 text-secondary">
          DesignSystem
        </p>
      </div>
      <div class="w-100 mb-2" *ngFor="let routerLink of routerLinks">
        <p class="mb-0 text-size-4 text-white fw-semibold">
          {{routerLink.type}}
        </p>
        <ul class="list-unstyled ps-0">
          <li class="nav-item" *ngFor="let link of routerLink.links">
            <a class="p-0 d-flex align-items-center text-size-4" href="javascript:;" [routerLink]="[link.path]"
              (click)="showResponsiveMenu = !showResponsiveMenu;" [ngClass]="{'selected': link.path === title}">
              <span class="ps-1">~ {{link.label}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- router -->
  <div class="bg-dark overflow-hidden" [ngClass]="isResponsive ? 'w-100 fh-93 p-4 pt-2' : 'fw-91 h-100 p-3'">
    <div class="w-100 h-100 rounded-3 bg-light">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
