<h4 class="mb-4">Aspect ratio en base al width:</h4>
<div class="mb-3 bg-info" [style.width.px]="500" ridAspectRatio="16:9" [byHeight]="false">
  <span>Seteado mediante [style.width]</span>
</div>

<div class="mb-3 bg-info w-50" [ridAspectRatio]="'4:3'" [byHeight]="false">
  <span>Seteado mediante clase bootstrap</span>
</div>



<h4 class="mb-4">Aspect ratio en base al height:</h4>
<div class="mb-3 bg-warning" [style.height.px]="200" [ridAspectRatio]="'16:5'" [byHeight]="true">
  <span>Seteado mediante [style.height]</span>
</div>

<div class="mb-3 bg-warning h-25" [ridAspectRatio]="'4:3'" [byHeight]="true">
  <span>Seteado mediante clase bootstrap</span>
</div>



<h4 class="mb-4">Aspect ratio dentro de otro aspect ratio: </h4>
<!-- Seteo el aspect por width -->
<div class="mb-3 bg-info" [style.width.px]="500" [ridAspectRatio]="'16:9'" [byHeight]="false">
  <!-- Seteo el aspect por height -->
  <div class="bg-danger h-100" [ridAspectRatio]="'5:4'" [byHeight]="true">
    <!-- Seteo el aspect por height -->
    <div class="bg-warning" [style.width.px]="150" [ridAspectRatio]="'16:9'" [byHeight]="false"></div>
  </div>
</div>



<h4 class="mb-4">Aspect ratio dinámico: </h4>
<button class="btn bg-secondary my-2" (click)="changeAspect();">Change aspect</button>
<div class="mb-3 bg-warning w-50" [ridAspectRatio]="aspect">
  <p><b>Ratio:</b> {{aspect}}</p>
</div>