<h5 class="mb-3 pb-1 border-bottom">Por formGroup:</h5>
<form [formGroup]="frmDummy" (ngSubmit)="onSubmit()">
  <rid-check [label]="'check 1'" [description]="'Descripcion del check 1'" formControlName="chk"></rid-check>
  <rid-check [label]="'check 2'" [description]="'Descripcion del check 2'" formControlName="chk2"></rid-check>
  <rid-check [label]="'check 3'" [description]="'Descripcion del check 3'" formControlName="chk3"
    [isDisabled]="true"></rid-check>
  <br />
  <button ridButton [isCompact]="true" type="submit">
    Submit
  </button>
</form>
<button ridButton [isCompact]="true" class="my-5" (click)="setChk()">
  Setear check 1
</button>

<br>
<h5 class="mb-3 pb-1 border-bottom">Por directiva checkbox:</h5>
<div ridChecksGrouper (onChange)="onChange($event)">
  <rid-check [label]="'check 1'"></rid-check>
  <rid-check [label]="'check 2'"></rid-check>
  <rid-check [label]="'check 3'"></rid-check>
</div>

<br>
<h5 class="mb-3 pb-1 border-bottom">Por directiva radio:</h5>
<div ridChecksGrouper (onChange)="onChange($event)">
  <rid-check [label]="'check 1'"></rid-check>
  <rid-check [label]="'check 2'"></rid-check>
  <rid-check [label]="'check 3'"></rid-check>
</div>


<br>
<h5 class="mb-3 pb-1 border-bottom">Por ngModel:</h5>
<rid-check [label]="'check 1'" [(ngModel)]="chkModel1" [isDisabled]="true" [default]="true"></rid-check>
<rid-check [label]="'check 2'" [(ngModel)]="chkModel2"></rid-check>

<p> chkModel1: {{chkModel1}} </p>
<p> chkModel2: {{chkModel2}} </p>

<h5 class="mb-3 pb-1 border-bottom">Check por event:</h5>
<rid-check [label]="'Set on checked'" (onChecked)="onChecked($event)"></rid-check>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
