<div class="w-100">
  <div *ngFor="let item of items; let i = index; let isFist = first;" class="w-100 shadow-sm rounded-3 overflow-hidden"
    [ngClass]="{
      'mt-2': !isFist && !compact,
      'mt-1': !isFist && compact
    }">
    <!-- toggle -->
    <div class="w-100 rid-cursor-pointer" (click)="toggle(i)">
      <!-- from template -->
      <div *ngIf="item?.toggleTemp">
        <ng-template [ngTemplateOutlet]="item.toggleTemp"></ng-template>
      </div>
      <!-- from title -->
      <div *ngIf="!item?.toggleTemp" class="w-100 px-3 py-2 d-flex justify-content-between align-items-center"
        [ngClass]="{'border-bottom': currents.includes(i)}">
        <p class="mb-0 fw-bold" [ngClass]="compact ? 'text-size-2' : 'text-size-5'">
          {{item.title}}
        </p>
        <rid-svg *ngIf="currents.includes(i)" class="text-size-6" [height]="20" [width]="20" [url]="'assets/dash.svg'">
        </rid-svg>
        <rid-svg *ngIf="!currents.includes(i)" class="text-size-6" [height]="20" [width]="20" [url]="'assets/plus.svg'">
        </rid-svg>
      </div>
    </div>
    <!-- content -->
    <div *ngIf="currents.includes(i) " class="w-100 px-3 py-2">
      <ng-template [ngTemplateOutlet]="item.contentTemp"></ng-template>
    </div>
  </div>
</div>
