<div class="w-100 border rounded-3 p-3 bg-secondary bg-opacity-25">

  <rid-dynamic-table [headers]="impHeaders" [dataRows]="impDataRows" [renderOptions]="impRenderOptions"
    [placeholderConfig]="impPlaceholderConfig" [paginationType]="impPaginationType">
    <ng-template #ridTemplateRow let-data="data">
      <tr>
        <td class="ps-3 pe-2">
          <p class="mb-0 p-0 text-primary text-size-5">
            {{data.title}}
          </p>
          <p class="mb-0 p-0 text-muted text-size-4">
            {{data.subtitle}}
          </p>
        </td>
        <td class="p-2">
          <p class="mb-0 p-0 text-dark text-size-5">
            {{data.role}}
          </p>
        </td>
        <td class="p-2">
          <p class="mb-0 py-1 px-2 badge rounded-pill bg-danger text-white text-size-5">
            {{data.status}}
          </p>
        </td>
        <td class="p-2">
          <p class="mb-0 text-muted">
            {{data.index}}
          </p>
        </td>
      </tr>
    </ng-template>
  </rid-dynamic-table>

</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
