.bz-floating-menu-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bz-floating-menu-item:hover {
  --bs-bg-opacity: 0.25 !important;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}
