<div class="w-100 position-absolute d-flex justify-content-end" [style.top.px]="offsetTop">
  <!-- button -->
  <div #floatingButton class="position-relative" [style.right.px]="isOpen ? -1 : 0" [style.zIndex]="2"
    [ngClass]="{'border-end-0': isOpen}">
    <button class="d-inline-block pe-auto py-3 px-2 border border-end-0 rounded-start-3 bg-light" (click)="toggle()">
      <rid-svg class="text-dark pe-none" [url]="isOpen ? 'assets/chevron-up.svg' : 'assets/chevron-down.svg'"
        [width]="20" [height]="20">
      </rid-svg>
    </button>
  </div>
  <!-- menu -->
  <div #floatingButtonMenu *ngIf="isOpen" class="pe-auto bg-light border rounded-bottom-3 shadow-sm" [style.zIndex]="1"
    [ridClickedOutside]="close" [skipIf]="!isOpen || !closeOnBackDropClick"
    [whitelist]="[floatingButton, floatingButtonMenu]">
    <!-- items -->
    <ng-container *ngFor="let item of items; let i = index">
      <div class="bz-floating-menu-item p-3 rid-cursor-pointer position-relative"
        *ngIf="showAllElements || i < maxVisibleItems" (click)="doItemAction(item)">
        <rid-svg class="pe-none" [url]="item.iconUrl" [width]="23" [height]="23"></rid-svg>
      </div>
    </ng-container>
    <!-- show all -->
    <div *ngIf="maxVisibleItems < items.length" (click)="toggleElements()"
      class="rid-cursor-pointer border-top d-flex justify-content-center p-3">
      <rid-svg class="pe-none" [url]="!showAllElements ? 'assets/plus-circle.svg' : 'assets/dash-circle.svg'"
        [width]="20" [height]="20">
      </rid-svg>
    </div>
  </div>
</div>
