<div class="w-100 d-flex justify-content-center align-items-center border rounded-3" [style.minHeight.px]="200"
  [ngClass]="{'bg-dark': impLoaderDark}">
  <rid-loader [size]="impLoaderSize" [isDark]="impLoaderDark">
  </rid-loader>
</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
