<div class="w-100 h-100">
  <div *ngIf="currentStep && currentStep.template" class="w-100 h-100">
    <div
      class="w-100 fh-15 fh-min-15 fh-max-15 d-flex justify-content-center align-items-center flex-column position-relative">
      <div *ngIf="showCloseBtn" class="w-100 h-100 position-absolute d-flex justify-content-end pe-2 pt-2 pe-none z-1">
        <rid-svg [svgClass]="'pe-auto rid-cursor-pointer'" (click)="doClose()" [url]="'assets/x-lg.svg'" [width]="15"
          [height]="15">
        </rid-svg>
      </div>
      <p *ngIf="showStepsTitle" class="mb-0 text-size-4 fw-semibold">
        {{ currentStep.title || ' ' }}
      </p>
      <p *ngIf="showStepsDescription" class="mb-2 text-size-3 text-muted">
        {{ currentStep.description || ' ' }}
      </p>
      <div clas="w-100 d-flex justify-content-center align-items-center">
        <div class="d-flex" *ngIf="showStepsStatus && currentStep.showStepStatus">
          <ng-container *ngFor="let step of steps;">
            <div *ngIf="step.showStepStatus" class="rounded-3 border shadow-sm" [style.width.px]="25"
              [style.height.px]="5" [style.content]="' '" [ngClass]="{
                'me-2': !step.isLast,
                'bg-dark': currentStep.id === step.id
              }">
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="w-100" [ngClass]="showFooterButtons ? 'fh-75 fh-min-75 fh-max-75' : 'fh-85 fh-min-85 fh-max-85'">
      <ng-template *ngIf="!isLoading" [ngTemplateOutlet]="currentStep.template"></ng-template>
      <div *ngIf="isLoading"
        class="w-100 h-100 d-flex justify-content-center align-items-center bg-secondary bg-opacity-25">
        <rid-loader [isDark]="true" [size]="'xl'"></rid-loader>
      </div>
    </div>
    <div *ngIf="showFooterButtons" class="w-100 fh-10 fh-min-10 fh-max-10 d-flex align-items-end"
      [ngClass]="!currentStep.hideGoBack && !currentStep.isFirst || currentStep.prevStepHandler !== undefined ? 'justify-content-between' : 'justify-content-end'">
      <button ridButton [btnType]="'secondary'" (click)="prevStep()" [disabled]="isLoading"
        *ngIf="!currentStep.hideGoBack && !currentStep.isFirst || currentStep.prevStepHandler">
        {{currentStep.prevStepLabel || 'Atras'}}
      </button>
      <button ridButton (click)="nextStep()" [disabled]="isLoading">
        {{currentStep.nextStepLabel || (currentStep.isLast ? 'Finalizar' : 'Siguiente')}}
      </button>
    </div>
  </div>
</div>
