<div class="position-relative d-flex">
  <!-- toggle -->
  <div *ngIf="toggleTemp && toggleTemp.template" class="position-relative rid-cursor-pointer" #dropdownToggle
    (click)="toggle()">
    <ng-template [ngTemplateOutlet]="toggleTemp.template"></ng-template>
    <div class="rid-dropdown-chevron pe-none">
      <div class="w-100 h-100 d-flex justify-content-end align-items-{{alignChevron}} pe-2">
        <rid-svg *ngIf="showChevron" [url]="'assets/' + (isOpen ? 'chevron-up' : 'chevron-down') + '.svg'"
          [ngClass]="chevronLight ? 'text-light' : 'text-dark'" [width]="13" [height]="13">
        </rid-svg>
      </div>
    </div>
  </div>
  <!-- menu -->
  <div #dropdownMenu [style.visibility]="isOpen ? 'visible' : 'hidden'" [style.zIndex]="1"
    class="position-absolute rounded-3 shadow-sm bg-white" [style.minWidth]="menuMinWidth"
    [style.maxWidth]="menuMaxWidth" [ridClickedOutside]="close" [skipIf]="!isOpen" [whitelist]="[dropdownMenu]">
    <!-- header -->
    <div *ngIf="headerTemp && headerTemp.template" class="w-100"
      [ngClass]="{ 'border-bottom': items.length || (footerTemp && footerTemp.template) }">
      <ng-template [ngTemplateOutlet]="headerTemp.template"></ng-template>
    </div>
    <!-- items -->
    <div class="w-100" *ngIf="items.length">
      <div *ngFor="let item of items" (click)="doAction(item)"
        class="py-2 px-3 rid-dropdown-item text-{{item.type || 'dark'}} text-size-5 d-flex align-items-center rid-cursor-pointer">
        <rid-svg *ngIf="item.iconUrl" class="pe-2" [url]="item.iconUrl" [width]="20" [height]="20">
        </rid-svg>
        <p class="mb-0">{{ item.label }}</p>
      </div>
    </div>
    <!-- footer -->
    <div *ngIf="footerTemp && footerTemp.template" class="w-100"
      [ngClass]="{ 'border-top': items.length || (headerTemp && headerTemp.template) }">
      <ng-template [ngTemplateOutlet]="footerTemp.template"></ng-template>
    </div>
  </div>
</div>
