.rid-dropdown-chevron {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.rid-dropdown-item:hover {
  background-color: rgba(var(--bs-secondary-rgb), var(0.25)) !important;
}
