<div #mainContainer [ridScrollable]="id" class="w-100 rounded-2 shadow-sm bg-white p-2"
  [ngClass]="{'rid-overflow-y-scroll': paginationType === 'scroll' && dataRows.length}"
  [style.height]="mainContainerMaxHeight !== -1 ? mainContainerMaxHeight + 'px' : 'auto'">
  <table class="table table-borderless">
    <thead [ngClass]="{'sticky-top bg-white': paginationType === 'scroll'}">
      <tr [ridOrderingTable]="orderChange">
        <th *ngFor="let header of headers; let isLast = last; let isFirst = first;" [attr.colspan]="isLast ? 100 : 1"
          [ngClass]="{ 'pe-3 rounded-end-2': isLast, 'ps-3 rounded-start-2': isFirst }"
          class="p-2 border-0 bg-secondary bg-opacity-25">
          <p class="mb-0 text-size-4 user-select-none" [ridOrderBy]="header.sortBy || ''"
            [ngClass]="{'rid-cursor-pointer': header.sortBy}">
            {{ header.label }}
          </p>
        </th>
      </tr>
    </thead>
    <tbody #ridTableContainer></tbody>
    <tbody *ngIf="!dataRows.length">
      <tr>
        <td colspan="100">
          <div class="d-flex justify-content-center align-items-center" [style.minHeight.px]="300">
            <rid-banner [imageUrl]="placeholderConfig.iconUrl || ''" [description]="placeholderConfig.description || ''"
              [message]="placeholderConfig.message || ''">
            </rid-banner>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="paginationType === 'pagination'" class="w-100 d-flex justify-content-end p-3">
    <rid-pagination [totalPages]="totalPages" (pageChanged)="onPageChanged($event)"></rid-pagination>
  </div>
  <div *ngIf="paginationType === 'button' && showLoadMoreBtn()" class="w-100 d-flex justify-content-center p-3">
    <button ridButton [btnType]="'secondary'" [isCompact]="true" (click)="render()">Cargar más</button>
  </div>
</div>
