<div [ngClass]="isResponsive ? 'd-flex justify-content-center px-3' : 'fw-30'">
  <rid-calendar [default]=" impDefault" [invalidDates]="impInvalidDates" [type]="impType" [showToday]="impShowToday"
    [showClear]="impShowClear" [justifyRows]="impJustifyRows" [minDate]="impMinDate" [maxDate]="impMaxDate"
    [disabled]="impDisabled" [showMonthYearSelectors]="impShowMonthYearSelectors"
    [monthYearSelectorsEditable]="impMonthYearSelectorsEditable" [showNavigationsArrows]="impShowNavigationsArrows"
    (onDateChanged)="onDateChanged($event)" (onMonthChanged)="onMonthChanged($event)"
    (onYearChanged)="onYearChanged($event)" (onTodayClick)="onTodayClick()" (onClearClick)="onClearClick()">
  </rid-calendar>
</div>



<!-- control interactions -->
<div class="w-100 row m-0 p-0 mt-5">
  <div class="col">
    <ul class="list-unstyled">
      <li class="d-flex mb-3">
        <b class="me-2">Fecha minima:</b>
        <input type="date" class="form-control form-control-sm me-2" [style.width.px]="200" [(ngModel)]="impMinDate">
      </li>
      <li class="d-flex mb-3">
        <b class="me-2">Fecha maxima:</b>
        <input type="date" class="form-control form-control-sm me-2" [style.width.px]="200" [(ngModel)]="impMaxDate">
      </li>
      <li class="mb-3">
        <b class="me-2">Mostrar selector de fechas:</b>
        <button class="btn me-4 btn-sm shadow-sm" [ngClass]="impShowMonthYearSelectors ? 'btn-dark' : 'btn-light'"
          (click)="impShowMonthYearSelectors = !impShowMonthYearSelectors">
          {{impShowMonthYearSelectors ? 'Activo' : 'Inactivo'}}
        </button>
      </li>
      <li class="mb-3">
        <b class="me-2">Mostrar chevrones para navegar:</b>
        <button class="btn me-4 btn-sm shadow-sm" [ngClass]="impShowNavigationsArrows ? 'btn-dark' : 'btn-light'"
          (click)="impShowNavigationsArrows = !impShowNavigationsArrows">
          {{impShowNavigationsArrows ? 'Activo' : 'Inactivo'}}
        </button>
      </li>
      <li class="mb-3">
        <b class="me-2">Permitir editar selector de fechas:</b>
        <button class="btn me-4 btn-sm shadow-sm" [ngClass]="impMonthYearSelectorsEditable ? 'btn-dark' : 'btn-light'"
          (click)="impMonthYearSelectorsEditable = !impMonthYearSelectorsEditable">
          {{impMonthYearSelectorsEditable ? 'Activo' : 'Inactivo'}}
        </button>
      </li>
      <li class="mb-3">
        <b class="me-2">Deshabilitar calendario:</b>
        <button class="btn me-4 btn-sm shadow-sm" [ngClass]="impDisabled ? 'btn-dark' : 'btn-light'"
          (click)="impDisabled = !impDisabled">
          {{impDisabled ? 'Activo' : 'Inactivo'}}
        </button>
      </li>
      <li class="mb-3">
        <b class="me-2">Mostrar boton hoy:</b>
        <button class="btn me-4 btn-sm shadow-sm" [ngClass]="impShowToday ? 'btn-dark' : 'btn-light'"
          (click)="impShowToday = !impShowToday">
          {{impShowToday ? 'Activo' : 'Inactivo'}}
        </button>
      </li>
      <li class="mb-3">
        <b class="me-2">Mostrar boton limpiar:</b>
        <button class="btn me-4 btn-sm shadow-sm" [ngClass]="impShowClear ? 'btn-dark' : 'btn-light'"
          (click)="impShowClear = !impShowClear">
          {{impShowClear ? 'Activo' : 'Inactivo'}}
        </button>
      </li>
      <li class="mb-3">
        <b class="me-2">Mostrar dias justificados:</b>
        <button class="btn me-4 btn-sm shadow-sm" [ngClass]="impJustifyRows ? 'btn-dark' : 'btn-light'"
          (click)="impJustifyRows = !impJustifyRows">
          {{impJustifyRows ? 'Activo' : 'Inactivo'}}
        </button>
      </li>
      <li class="d-flex mb-3">
        <b class="me-2">Tipo calendario:</b>
        <select [(ngModel)]="impType">
          <option value="single">single</option>
          <option value="range">range</option>
          <option value="multiple">multiple</option>
        </select>
      </li>
    </ul>
  </div>
</div>
