<form [formGroup]="frmDummy" (ngSubmit)="onSubmit()">
  <rid-input [label]="impLabel" [description]="impDescription" [leftIconUrl]="impLeftIconUrl"
    [rightIconUrl]="impRightIconUrl">
    <input #ridInput formControlName="op1" type="text">
  </rid-input>

  <rid-input [label]="'Contraseña *'" [description]="'Contraseña del usuario'" [rightIconUrl]="'assets/moon.svg'"
    [rightIconAction]="togglePassword" [errorMsg]="frmDummy.get('op2')?.invalid ? 'Campo invalido.' : ''">
    <input #ridInput formControlName="op2" [type]="showPassword ? 'text' : 'password'"
      placeholder="Ingrese la contraseña del usuario.">
  </rid-input>

  <rid-input [label]="'Archivo'" [description]="'Subir archivo'">
    <input #ridInput type="file" formControlName="op3">
  </rid-input>

  <rid-input [label]="'Nacimiento *'" [description]="'Fecha de nacimiento del usuario'">
    <input #ridInput type="date" formControlName="op4">
  </rid-input>

  <rid-input [label]="'Tipo'" [description]="'Tipo de dni'">
    <select #ridInput formControlName="op6">
      <option value="dni" selected="true">dni</option>
      <option value="cuit">cuit</option>
    </select>
  </rid-input>

  <rid-input [label]="'Descripción'" [description]="'Descripción del usuario'" [showLengthCounter]="true">
    <textarea #ridInput formControlName="op5" placeholder="Ingrese la descripción del usuario opcional." col="40"
      rows="10" maxlength="150">
    </textarea>
  </rid-input>

  <button ridButton class="mt-2" [isCompact]="true" [btnType]="'success'" type="submit" [disabled]="frmDummy.invalid">
    Validar
  </button>

</form>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
