<div class="w-100">
  <div *ngIf="label" class="w-100 ps-1 lh-1 mb-2">
    <label class="text-size-3 fw-semibold">
      {{label}}
    </label>
  </div>
  <div class="w-100 position-relative" [style.minHeight.px]="inputHeight">
    <div
      class="w-100 h-100 px-2 position-absolute text-secondary d-flex justify-content-between align-items-center z-2 pe-none">
      <rid-svg [svgClass]="'pe-auto'" (click)="leftIconAction && leftIconAction()" [url]="leftIconUrl" [width]="15"
        [height]="15"></rid-svg>
      <rid-svg [svgClass]="errorMsg ? 'pe-auto text-danger' : 'pe-auto'" (click)="rightIconAction && rightIconAction()"
        [url]="errorMsg ? 'assets/x-circle.svg' : rightIconUrl" [width]="15" [height]="15"></rid-svg>
    </div>
    <div class="w-100 position-absolute z-1">
      <ng-content></ng-content>
    </div>
  </div>
  <div *ngIf="!errorMsg && (description || (showLengthCounter && inputLengthStatus))"
    class="w-100 ps-1 pt-1 d-flex align-items-center" [ngClass]="{'justify-content-between pe-2': showLengthCounter}">
    <label class="fst-italic text-size-3 text-secondary">
      {{description}}
    </label>
    <label *ngIf="showLengthCounter && inputLengthStatus" class="fst-italic text-size-2 text-secondary">
      {{ inputLengthStatus }}
    </label>
  </div>
  <div *ngIf="errorMsg" class="w-100 ps-1 pt-1 d-flex align-items-center">
    <label class="fst-italic text-size-3 text-danger">
      {{errorMsg}}
    </label>
  </div>
</div>
