<div class="w-100 shadow-sm border rounded-3 d-flex py-3 px-4" [ridFilterListener]="onChangeGroupImp">

  <!-- input text -->
  <rid-filter-input class="me-3" [label]="'filter-input-1'" [description]="'Descripcion del filtro'"
    [placeHolder]="'Ingrese un valor...'" [default]="'holder-2'" (onChange)="onChangeImp($event)"
    (onExpand)="onExpandImp($event)">
  </rid-filter-input>

  <!-- select -->
  <rid-filter-select class="me-3" [options]="selectOpts" [label]="'filter-select-1'" [id]="'filter-select-1'"
    [isMultiple]="true" (onChange)="onChangeImp($event)">
  </rid-filter-select>
  <rid-filter-select class="me-3" [options]="selectOpts" [label]="'filter-select-2'" [id]="'filter-select-2'"
    [isMultiple]="false" (onChange)="onChangeImp($event)">
  </rid-filter-select>

  <!-- date range -->
  <rid-filter-range-date class="me-3" [label]="'filter-range-date-1'" [id]="'filter-range-date-1'"
    [default]="filterRangeDateDefault" [config]="filterRangeDateConfig">
  </rid-filter-range-date>

  <!-- numbers range -->
  <rid-filter-range-numbers class="me-3" [label]="'rid-filter-range-numbers-1'" [id]="'rid-filter-range-numbers-1'"
    [default]="filterRangeNumberDefault" [config]="filterRangeNumberConfig">
  </rid-filter-range-numbers>

  <!-- resetter -->
  <rid-filters-resetter [label]="'Limpiar'" (onFilter)="onFilterImp()"></rid-filters-resetter>

</div>

<!-- control interactions -->
<app-interactions [inputs]="impInputs"></app-interactions>
